[submodule "stable-baselines"]
	path = stable-baselines
	url = https://github.com/TMmichi/stable-baselines.git
	branch = master
[submodule "abr_control"]
	path = abr_control
	url = https://github.com/TMmichi/abr_control.git
